/* Empty. Add your own CSS if you like */

.scroll-content{
  padding: 3px;
}

.card{
  margin: 10px;
}

.playButton{
  width: 100%;
}

.iframe{

}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-image: url("/img/loading.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 75px 75px;
}

.item-body{
  padding-top: 5px;
}

.item-avatar{
  height: 40px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.message{
  word-wrap: normal;
  width: 100%;
}

.submitMessage{
  min-height: 36px;
  line-height: 0px
}


.validation{
  position: relative;
  right: 10px;
  color: #CFCFCF;
}

.lockedSong{
  color: #CFCFCF;
}

.messageLimit{
  color: #CFCFCF;
  font-size: 12px;
}

img.full-image{
  height: 262px;
  width: 100%;
}

.songName{
  max-width: 200px;
}

.postForm{
  margin-bottom: 5px;
}
